
// Include weather font

@font-face {
    font-family: $weather-font;
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
