
// Converts properties to rem values based on the baseline
// of 10 i.e. html { font-size: 62.5%; }

@mixin pxrem($property, $values) {

    $px: ();
    $rem: ();

    @each $value in $values {

        @if $value == 0 or $value == auto {
            $px : append($px , $value);
            $rem: append($rem, $value);
        }

        @else {

            $unit: unit($value);
            $val: $value / ($value * 0 + 1);

            @if $unit == 'px' {
                $px : append($px,  $value);
                $rem: append($rem, ($val / 10 + rem));
            }

            @if $unit == 'rem' {
                $px : append($px,  ($val * 10 + px));
                $rem: append($rem, $value);
            }

        }

    }

    @if $px == $rem {
        #{$property}: $px;
    } @else {
        #{$property}: $px;
        #{$property}: $rem;
    }

}

// Retina

@mixin retina($density: 2) {
    @media
    only screen and (-webkit-min-device-pixel-ratio: $density),
    only screen and (   min--moz-device-pixel-ratio: $density),
    only screen and (     -o-min-device-pixel-ratio: #{$density}/1),
    only screen and (        min-device-pixel-ratio: $density),
    only screen and (                min-resolution: #{$density * 96}dpi),
    only screen and (                min-resolution: #{$density}dppx) {
        @content;
    }
}

// Clearfix

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
