
// Create a color theme

@mixin theme($color, $type) {

    $light: $color;
    $standard: darken($color, 5%);
    $dark: darken($color, 10%);
    $switch: $light;

    @if $type == '.primary-color' and $theme_secondary != none {
        $switch: $theme_secondary;
    }

    @if $type == '.secondary-color' {
        $switch: $theme_primary;
    }

    body#{$type} {
        background-color: $light;
    }

    #{$type} .wrapper {
        background-color: $light;
    }

    #{$type} .prayer-times {

        table {
            border-bottom-color: $dark;
        }

        &__name {
            background-color: $dark;
            border-top-color: $standard;
        }

        &__start {
            background-color: $standard;
            border-top-color: $light;
        }

        &__jamaah {
            background-color: $light;
            border-top-color: $dark;
        }

    }

    #{$type} .time {
        background-color: $standard;
    }

    #{$type} .theme a {
        background-color: $switch;
    }

    #{$type} .footer {

        background-color: $light;
        border-top-color: $dark;

        @include mq($from: tablet) {
            background-color: $dark;
        }

    }

}

// Create styles for the correct color themes

@include theme($theme_primary, '.primary-color');

@if $theme_secondary != none {
    @include theme($theme_secondary, '.secondary-color');
}
