{
    parser: "babel-eslint",
    extends: ["eslint:recommended", "plugin:react/recommended"],
    env: {
        browser: true
    },
    rules: {
        "func-names": [
            "error",
            "never"
        ],
        "no-new": "off",
        "indent": [2, 4],
        "react/react-in-jsx-scope": "off",
        "react/no-array-index-key": "off",
        "class-methods-use-this": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "import/no-dynamic-require": "off",
        "comma-dangle": "off",
        "global-require": "off",
        "eqeqeq": "off",
        "max-len": "off",
        "import/no-extraneous-dependencies": "off",
        "no-param-reassign": "off",
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false, "varsIgnorePattern": "preact" }]
    }
}
