@import '~sass-mq/mq';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.weather {

    font-weight: $font-weight-light;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    &__temp {

        @include pxrem(font-size, 18px);

        @include mq($from: tablet) {
            @include pxrem(font-size, 38px);
            display: inline-block;
            vertical-align: middle;
        }

        &::after {
            content: "°";
        }

    }

    &__icon {

        @include pxrem(font-size, 32px);
        font-family: $weather-font;
        display: none;

        @include mq($from: tablet) {
            @include pxrem(font-size, 76px);
            margin-right: 30px;
            display: inline-block;
            vertical-align: middle;
        }

    }

    &__inner {

        display: none;

        &.active {
            display: block;
        }

        @include mq($from: tablet) {
            transition: $transition-speed;
            height: 200px;
            width: 200px;
            margin-left: auto;
        }

    }

    @include mq($from: tablet) {
        background: linear-gradient(45deg, transparent 50%, $color-grey-dark 100%);
        text-align: right;
        height: 400px;
        width: 400px;
        top: 0;
        right: 0;
    }

}
