@import '~sass-mq/mq';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.prayer-times {

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 100%;
    }

    td, th {

        text-align: center;
        padding: 10px 0;

        @media screen and (max-height: 639px) and (min-width: map-get($mq-breakpoints, tablet)) {
            padding: 7px 0;
        }

    }

    th {
        @include pxrem(font-size, 11px);
        border-top: 0 none !important;
    }

    th, &__name {
        text-transform: uppercase;
    }

    tbody tr {

        span {
            transition: $transition-speed;
            opacity: 0.5;
        }

        &.active span {
            opacity: 1;
        }

    }

    &__start, &__jamaah {
        text-transform: lowercase;
    }

    &__name, &__start, &__jamaah {
        border-top-width: 1px;
        border-top-style: solid;
    }

    &__name {
        font-weight: $font-weight-bold;
    }

    @include mq($from: tablet) {

        &:hover tbody tr span {
            opacity: 1;
        }

    }

}
