@import '~sass-mq/mq';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.time {

    background: url('time-pattern.png') center center;
    text-align: center;
    padding: 18px 0;

    &__time {

        @include pxrem(font-size, 48px);
        @include pxrem(line-height, 58px);
        font-weight: $font-weight-light;
        display: none;

        @include mq($from: tablet) {
            display: block;
        }

    }

    &__date {

        @include pxrem(font-size, 18px);

        @include mq($from: tablet) {
            @include pxrem(font-size, 14px);
            transition: $transition-speed;
            opacity: 0.5;
        }

    }

    @include mq($from: tablet) {

        padding: 8px 0 14px 0;

        &:hover &__date {
            opacity: 1;
        }

    }

}
