@import '~sass-mq/mq';

.theme {

    a {

        display: block;
        margin: 0 20px 20px 20px;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;

        @include mq($from: tablet) {
            padding: 0 15px;
            margin: 0;
        }

    }

    @include mq($from: tablet) {
        float: left;
    }

}
