
.footer {

    @include pxrem(font-size, 12px);
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    padding: 15px 0;

    strong {
        text-transform: uppercase;
    }

    &-bottom {

        @include pxrem(font-size, 11px);
        background-color: $color-grey-dark;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 0;
        color: $color-grey-light;

        a {
            font-weight: $font-weight-bold;
            color: $color-white;
        }

        &__left {

            margin-bottom: 5px;

            @include mq($from: tablet) {
                margin-bottom: 0;
            }

        }

        @include mq($from: tablet) {

            @include pxrem(font-size, 13px);
            @include pxrem(line-height, 50px);
            transition: $transition-speed;
            padding: 0;
            position: fixed;
            left: 260px;
            bottom: 0;
            right: 0;
            height: 50px;
            opacity: 0.75;
            z-index: 1;

            &:hover {
                opacity: 1;
            }

            &__left {
                float: left;
                padding-left: 20px;
            }

            &__right {
                float: right;
                padding-right: 20px;
            }

        }

    }

    @include mq($from: tablet) {
        @include clearfix;
        @include pxrem(line-height, 50px);
        border-top: 0 none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 260px;
        height: 50px;
        padding: 0;
    }

}
