<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- Force awesomeness -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Page title -->
<title><%= htmlWebpackPlugin.options.page.title %> | <%= htmlWebpackPlugin.options.page.tagline %></title>

<!-- Page meta -->
<meta name="description" content="<%= htmlWebpackPlugin.options.page.description %>">
<meta name="keywords" content="<%= htmlWebpackPlugin.options.page.keywords %>">

<!-- Facebook -->
<meta property="og:title" content="<%= htmlWebpackPlugin.options.page.title %> | <%= htmlWebpackPlugin.options.page.tagline %>">
<meta property="og:type" content="website">
<meta property="og:image" content="http://<%= htmlWebpackPlugin.options.page.domain %><%= htmlWebpackPlugin.options.page.path %>assets/social/social.jpg">
<meta property="og:url" content="http://<%= htmlWebpackPlugin.options.page.domain %><%= htmlWebpackPlugin.options.page.path %>">
<meta property="og:description" content="<%= htmlWebpackPlugin.options.page.description %>">
<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.page.title %>">

<!-- Mobile friendly -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Icons -->
<link rel="shortcut icon" href="assets/icons/favicon.ico">
<link rel="apple-touch-icon" href="assets/icons/icon.png">
<link rel="icon" href="assets/icons/icon.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/icon-144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/icons/icon-152.png">
<link rel="apple-touch-icon" sizes="167x167" href="assets/icons/icon-167.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/icons/icon-180.png">
<link rel="icon" sizes="144x144" href="assets/icons/icon-144.png">
<link rel="icon" sizes="152x152" href="assets/icons/icon-152.png">
<link rel="icon" sizes="167x167" href="assets/icons/icon-167.png">
<link rel="icon" sizes="180x180" href="assets/icons/icon-180.png">

<!-- Polyfill -->
<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>

</head>

<body>

<main class="wrapper">
    <header class="header">
        <h1>
            <a href="./" title="<%= htmlWebpackPlugin.options.page.title %>">
                <img src="assets/logos/logo.png" srcset="assets/logos/logo@2x.png 2x, assets/logos/logo@3x.png 3x" alt="<%= htmlWebpackPlugin.options.page.title %>">
            </a>
        </h1>
    </header>
    <section class="content">
        <div id="time-container"></div>
        <div id="prayer-times-container"></div>
        <div id="khutbah-container"></div>
    </section>
    <footer class="footer">
        <div id="tips-container"></div>
    </footer>
</main>

<footer class="footer-bottom">
    <div id="theme-container"></div>
    <div class="footer-bottom__left">&copy;<script>document.write(new Date().getFullYear())</script> <%= htmlWebpackPlugin.options.page.domain %></div>
    <div class="footer-bottom__right">Source code on <a title="Umar Sheikh" href="https://github.com/umarsheikh13/elmtimes" target="_blank">GitHub</a></div>
</footer>

<section id="weather-container" class="weather"></section>
<section id="slideshow-container" class="slideshow"></section>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '<%= htmlWebpackPlugin.options.page.gaid %>', 'auto');
ga('send', 'pageview');
</script>
<!-- Google Fonts -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
WebFont.load({
    google: {
        families: ['Open Sans:300,400,700']
    }
});
</script>
</body>

</html>
